* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 24rem;
    background-color: #1f1f1f;
    color: white;
}

h1 {
    padding-bottom: 0.6rem;
}

.button_group {
    width: 100%;
    position: sticky;
    top: 0rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: #1f1f1f;
}

.button {
    padding: 0.3rem 1.2rem;
    color: white;
    background-color: transparent;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #030303;
}

.select_all {
    display: flex;
    align-items: center;
    gap: 4px;
}

.path_name {
    /* todo - width should not be fixed*/
    width: 18rem;
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
}

.header_div {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    flex-direction: col;
    gap: 0.4rem;
}

input {
    width: 1rem;
    height: 1rem;
    place-self: center;
    cursor: pointer;
}

.tab_list {
    padding: 1rem;
    padding-top: 0.4rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    width: 100%;
    background: #141414;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background: #5858589d;
}